.square {
  width: 24px;
  height: 24px;
}

.empty {
  background: cornflowerblue;
}

.start {
  background: springgreen;
}

.end {
  background: red;
}

.wall {
  background: magenta;
}

.path {
  background: yellow;
}
